
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#no-cursor {
    pointer-events: none;
}

@font-face {
  font-family: Podkova;
  src: url("../../public/Podkova-VariableFont_wght.ttf");
}
@font-face {
  font-family: Quicksand;
  src: url("../../public/Quicksand-VariableFont_wght.ttf");
}
@font-face {
  font-family: OpenSans;
  src: url("../../public/OpenSans-VariableFont_wdth\,wght.ttf");
}
@font-face {
  font-family: EagleLake;
  src: url("../../public/EagleLake-Regular.ttf");
}
html,body{
  height:100%
}

body {
  font-family: 'EagleLake';
  font-weight: 400;
  color: #FFD700;
  margin: 0;
}

/* body:has(.home) {
  background: linear-gradient(
    rgba(0, 0, 0, .1), 
    rgba(0, 0, 0, .1)), 
    url('../../public/background.png');
    animation: float linear infinite 1500s;
} */

body:has(.not_home) {
  background-color: #fffbf0;
  /* background-image: url('https://images.zola.com/c910052e-61b9-444d-ada5-fd4f2c4d5202?w=2500');
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain; */
}
.not_home .background {
  position: absolute;
  min-height: calc(100vh - 57px);
  height: 100%;
  width: 100%;
  top: 57px;
  z-index: -10;
}
.not_home .background img {
  max-width: 60vw;
  max-height: 60vh;
  position: absolute;
}
.not_home .background .top-right {
  top: 0;
  right: 0;
}
.not_home .background .top-left {
  top: 0;
  left: 0;
}
.not_home .background .bottom-right {
  bottom: 0;
  right: 0;
}
.not_home .background .bottom-left {
  bottom: 0;
  left: 0;
}

.homebody {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homeButtons {
  min-width: 100%;
  overflow: visible;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.homeButtons {
  min-width: 100%;
  overflow: visible;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tab-title {
  font-size: 4rem;
  font-weight: 700;
}

.readable-background {
  /* background: linear-gradient(
    rgba(2, 118, 3, 0.274),
    rgba(255, 215, 0, .6));  */
    font: 1.2rem Podkova;
    color: darkslategray;
    margin: 2rem;
    padding: 2rem;
    width: 80vw;
    min-height: calc(80dvh - (180px + 64px));
}

.readable-background a {
  color: darkslategray;
  text-decoration-color: #058b09a7;
  font-weight: 500;
}

.header {
  /* background-image: url("../../public/trees.jpg"); */
  background-position: center;
  background-size: cover;
  background: linear-gradient(
    rgba(0, 0, 0, 0),
    #FFF8E3),
    url("../../public/foliage.jpg");
  position: absolute;
  z-index: 15;
  width: 100%;
}

.MuiDrawer-paperAnchorLeft {
  background-color: #FFF8E3 !important;
}

.drawer-close {
  display: flex;
  justify-content: right;
}

.header-logo {
  font-weight: 400;
  text-decoration: none;
  color: #058b09;
}

.content-wrapper {
  z-index: 10;
  position: absolute;
  padding-top: 64px;
  width: 100%;
}

@media (min-width: 750px) {
  .header {
    height: 160px;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .header-logo {
    font-size: 3.5rem;
    padding-top: 1rem;
  }
  .content-wrapper {
    padding-top: 160px;
  }
}

@media (max-width: 750px) {
  .header {
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .header-logo {
    font-size: 2rem;
  }
  .content-wrapper {
    padding-top: 64px;
  }
  .not_home .background {
    min-height: 100vh;
    top: 0;
  }
  .readable-background {
    padding: 0;
    margin-top: 1rem;
  }
  .MuiGrid-item.schedule-date, .MuiGrid-item.schedule-day-label {
    font-size: 1.75rem;
    padding-left: 0;
    justify-content: flex-end;
  }
}

.header .menu-icon {
  font-size: 2rem;
  color: rgb(6, 179, 12);
}

.menu-icon svg {
  height: 2.5rem;
  width: 2.5rem;
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 32px;
}

.details a, .details a:hover {
  margin-top: 1rem;
  font-weight: 700;
  border-width: 3px;
}

.question {
  font-weight: 700;
  margin-top: 1rem;
}

.logo {
  width: 65%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1000px) {
  .logo b {
    font-size: 12vh;
    margin-right: 2rem;
  }
}

@media (max-width: 1000px) {
  .logo {
    flex-direction: column;
  }
  .logo b {
    font-size: 8vh;
  }
  .logo b:nth-child(2) {
    margin: -1rem 0 -2rem;
    font-size: 4vh;
  }
}

.schedule-day-label {
  font-size: 2rem;
  font-weight: 200;
  font-family: 'EagleLake';
  color: goldenrod;
}

.schedule-date {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.schedule-location {
  text-align: center;
}

.schedule-item .MuiGrid-item.schedule-time {
  text-align: right;
}
.schedule-item .MuiGrid-item.schedule-label {
  text-align: left;
}

.schedule-item {
  padding-top: 1rem;
}

.schedule-item .MuiGrid-item {
  text-align: center;
}

.schedule-item .detail {
  vertical-align: baseline;
}

.schedule-item .additional-row {
  margin-top: 0.5rem;
}